.NavbarLinksContainer a {
    padding: 0.75rem 1.75rem;
}

.navLink {
    color: #929292;
}

.navLink:hover {
    color: #000000;
    cursor: pointer;
}

.navOverlay {
    left: -100vw;
    transform-origin: left;
    transition: all ease-in-out 0.15s;
    color: #929292;
}

@media (max-width: 950px) {
    .NavbarLinksContainer a {
        padding: 0.65rem 0.8rem !important;
    }
}

@media (max-width: 800px) {
    .hamburger {
        display: inline-block !important;
    }
    .hideOnSmall {
        display: none;
    }
}
